.cov-print {

}

.cov-print--results {
  margin-top: 0.75rem;
}

.cov-print--result {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  [class="esri-icon-"] {
    font-size: 12px;
  }

  span {
    margin-left: 1rem;
  }
}